.h-wrapper {
    background-color: rgba(75, 88, 90, 0.8); /* Adjust the alpha value (0.0 to 1.0) for desired transparency */
   color:white;
  }
  
  .h-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-igate {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .nav-igate a {
    margin-right: 20px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .nav-igate a:hover {
    color: #f7f7f7;
  }